<h1>Stock Management System</h1>

<% links = [] %>
<% if can? :read, Location %>
  <% links.push(link_to 'Locations', locations_path, :class=>"btn-group linktobutton") %>
<% end %>

<% if can? :read, StockItem %>
  <% links.push(link_to 'Stock Items', stock_items_path,:class=>"btn-group linktobutton") %>
<% end %>

<% if can? :read, User %>
  <% links.push(link_to 'Users', users_path,:class=>"btn-group linktobutton") %>
<% end %>

<%== links.join(" ") %>
