/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "rails_bootstrap_forms";
@import "select2";
@import "select2-bootstrap";

.linktobutton{
  background-color: #7AC8FF;
  color: white;
  padding: 3rem 3rem;
  text-align: center; 
  text-decoration: none !important;
  display: inline-block;
  border-radius: 10px;
  font-size: 3rem;
}

.fixed-width-date{
  width: 200px !important;
}

.fixed-width-4{
  width: 110px !important;
}

.button-numpad {
  background-color: #7AC8FF; 
  border: solid white;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.white-background{
  background-color: white !important; 
}

.fixed-position{
  position: fixed;
}

.pad-bottom{
  padding-bottom: 25px;
}

.padding{
  padding: 0px 10px 15px 20px;
}

.borders{
  border: solid #42b0ff; 
  border-radius: 5px; 
}

.margin-right{
  margin-right: 10px; 
}

input:focus#highlight { 
    background-color: yellow !important;
}

.add-expiry-btn-margins{
  position: absolute !important;
  right: 30px !important; 
  float: right !important; 
  margin-bottom: 20px !important; 
}
