/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.columnwidth{
  width: 35%;
}

.border {
  border-bottom: 2px black;
  border-bottom-style: solid;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 80%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

a {
  background-color: #abcdef;
  text-align: center;
  display: inline-block;
  border-radius: 9px;
  padding: 0.5rem;
  text-decoration: none;
}

input[type="submit"] {
  background-color: #abcdef;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 9px;
  padding: 0.5rem;
}

.nested_display {
  margin-left: 30px;
}
