<tr>
  <td><%= location.name.indent(location.depth,"&nbsp&nbsp&nbsp&nbsp").html_safe %> </td>
  <td></td>
  <td></td>
</tr>
<% location.items.each do|item| %>
  <% item=item.item_summary %>
  <tr>
    <td><%= item.stock_item.name.indent(location.depth+1,"&nbsp&nbsp&nbsp&nbsp").html_safe %></td>
  	<td><%= item.total%>/<%=item.required %></td>
	<%# if(order_to) %>
	  <td><%#= item.order_to %>(<%#= item.order_to - item.total %>)</td>
	<%# else %>
	<%# end %>
  </tr>
<% end %>
