<h1>Reports#locations</h1>
<p>Find me in app/views/reports/locations.html.erb</p>

<table class = table>
	<tr>
		<th>Location ID</th>
		<th>Item Name</th>
		<th>Required</th>
	</tr>
	<tr>
		<td><%= Item.first.location.id %></td>
		<td><%= Item.first.stock_item.name %></td>
		<td><%= Item.first.required %></td>

	</tr>
</table>