<h1>Reports:  locations</h1>
<h2>Location ID: <%= @location.id %></h2> 
<table class="table table-striped table-bordered">
  <%# Header Row %>
  <tr>
    <th></th>
    <th>Amount / Required</th>
    <th>Order To</th>
    <% if @order_to %>
      <th>Amount to Order</th>
    <% end %>
  </tr>
  <% if @display_tree %>
    <%= render "reports/tree", location_tree: @location_tree, order_to: @order_to, expiries: @expiries %>
  <% else %>
    <%= render "reports/location_summary", location: @location, order_to: @order_to, expiries: @expiries, depth: 0 %>
  <% end %>
</table>
