<h1>Reports</h1>
<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    <th>Amount / Required</th>
    <th>Order To</th>
    <% if @order_to %>
      <th>Amount to Order</th>
    <% end %>
  </tr>
  <%# Render tree if option specified %>
  <% if @display_tree %>
    <%= render "reports/tree", location_tree: @location_tree, order_to: @order_to, expiries: @expiries, depth: @global ? 1 : 0 %>
  <% end %>

  <%# Render summary if display tree not specified or global report %>
  <% if !@display_tree or @global  %>
    <%= render "reports/location_summary", location: @location, order_to: @order_to, expiries: @expiries, depth: 0, stock_item_summaries: @stock_item_summaries %>
  <% end %>
</table>
