<h1>Reports:  locations</h1>
<%# If location has no items page breaks. #TODO! %>
<% if @items%>
  <h2>Location ID: <%#=  %> Name: <%#=  %></h2>
<% end %>
<%=@items%>
<table class="table">
  <tr>
    <th class="border">Stock Item</th>
    <th class="border">Stock Item ID</th>
    <th class="border">Amount</th>
    <th class="border">Order To</th>
  </tr>
  <%# @gr_item.order(:stock_item_id).count.each do |count|  %>
  
  <% @items.each do|entry| %>
    <tr>
      <td><%= entry.first.name %></td>
      <td><%#=entry.first.Stock_Item_id %></td>
      <td><%#=entry.first  %>/</td>
      <td><%#=entry.first.  %></td>
    </tr>
  <% end %>
</table>
