<% if can? :location, :report %>
  <% if location.nil? %>
    <% url = report_path %>
    <% csv_url = report_path(format: "csv") %>
  <% else %>
    <% url = location_report_path(location) %>
    <% csv_url = location_report_path(location, format: "csv") %>
  <% end %>

  <h2>Report</h2>
  <%# Manual form as bootstrap forms gem does not support disabling hidden fields %>
  <%= bootstrap_form_tag url: url, method: :get do |f| %>
    <div class="checkbox">
      <label for="display_tree">
        <input type="checkbox" value="1" name="display_tree" id="display_tree"> Display Sub-Locations
      </label>
    </div>
    <div class="checkbox">
      <label for="order_to">
        <input type="checkbox" value="1" name="order_to" id="order_to"> Order Report
      </label>
    </div>
    <div class="checkbox">
      <label for="expiries">
        <input type="checkbox" value="1" name="expiries" id="expiries"> Display Expiry Dates (Only valid with Display Sub-Locations enabled)
      </label>
    </div>
    <input type="submit" value="View" class="btn btn-default">
    <a href=<%=csv_url%> class="btn btn-default">Download</a>
  <% end %>
<% end %>
