<%= javascript_tag do %>
  var tree = <%== render partial: "locations/tree", formats: [:json], object: @locations, as: :locations %>;
<% end %>


<p id="notice"><%= notice %></p>
<h1>Locations</h1>
<div id="tree"></div>

<% if can? :create, Location %>
  <%= link_to 'New Location', new_location_path %>
<% end %>
