<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= nested_display @locations, :index_display, :locations %>
  </tbody>
</table>

<br>
<%= link_to 'New Location', new_location_path %>

