<%= javascript_tag do %>
  var tree = <%== render partial: "locations/tree", formats: [:json], object: @locations_tree, as: :locations_tree %>;
<% end %>

<h1>Locations</h1>
<%= render 'locations/report_form', location: nil %>
<div id="tree"></div>


<% if can? :create, Location %>
  <%= link_to 'New Location', new_location_path %>
<% end %>
